<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-2">
        <%= form_with model: @recipe, local: true do |form| %>
      <p>Directions:</p>
        <%= form.fields_for :directions do |direction| %>
        <%= direction.text_field :step %>
        <%= direction.check_box :_destroy %> Delete
        <% end %>
      <div class="form-group">
      <br/>
        <%= form.submit "Update", class: 'button is-link is-round' %>
        <%= link_to 'Cancel', recipe_path, class: 'button is-light is-round' %>
      </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
