<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6 is-offset-3">
      <div class="content is-size-3">
      <%= form_with model: @recipe, local: true  do |form| %>
      <p>Ingredients:</p>
      <%= form.fields_for :ingredients do |ingredient| %>
        <%= ingredient.text_field :name %>
        <%= ingredient.check_box :_destroy %> Delete
      <% end %>
      <div class="form-group">
        <%= form.submit "Update", class: 'button is-link is-round' %>
        <%= link_to 'Cancel', recipe_path, class: 'button is-link is-round' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
